{% extends 'base.html' %}
{% load static jalali_tags i18n %}
{% block title %} {{block.super}}
{{ page_title }}
{% endblock title %}

{% block extra_head %}{{extra_head|safe}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {{ form.media }}
    <style>
        .datetimepicker {
            right: auto;
        }
        #id_entry_type {
            list-style: none;
            padding: 7px 10px 0px 0px;
        }
        #id_entry_type li {
            float: right;
            padding: 0px 10px;
        }
        #signal_form {
            transition: 0.3s linear all;
        }
        #mistakes_list{
            transition: 0.3s linear all;
        }
    </style>
{% endblock extra_head %}



{%block page_content%}

<div class="x_panel" id="mistakes_list">
    <div class="x_title">
        <h2>
            {% trans 'اشتباهات شما در معاملات قبل' %}
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" kerman_case="button"
                    aria-expanded="false"><i class="fa fa-wrench"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="message-container">
            {% for user in user_signals %}
                <div class="alert alert-danger" role="alert">
                    <strong>اشتباه شماره {{forloop.counter}} </strong>{{user.mistakes}}
                </div>
            {% endfor %}
            <button class="btn btn-warning" onclick="show_signal()">{% trans 'متوجه شدم' %}</button>
        </div>
    </div>
</div>

<div class="x_panel" id="signal_form" style="opacity: 0;">
    <div class="x_title">
        <h2>
            {% trans 'سیگنال جدید' %}
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" kerman_case="button"
                    aria-expanded="false"><i class="fa fa-wrench"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <form id="form" data-parsley-validate class="form-horizontal form-label-left" 
        action="{% url 'cfd_profile_signals_add' team_id %}" method="POST">
            {% csrf_token %}
            {% if formset %}
            {{ formset.management_form }}
            {% endif %}
            

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}









            <!-- 0 Asset -->
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{form.visible_fields.0.id_for_label}}">{{form.visible_fields.0.label}}{% if form.visible_fields.0.field.required %}<span class="required"> *</span>{% endif %}</label>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    {{ form.visible_fields.0 }}
                    {% if form.visible_fields.0.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.0.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.0.errors %}
                    {% for error in form.visible_fields.0.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    {{ form.visible_fields.1 }}
                    {% if form.visible_fields.1.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.1.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.1.errors %}
                    {% for error in form.visible_fields.1.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            <!-- 2 EP -->
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{form.visible_fields.2.id_for_label}}">{% trans 'نقطه ورود' %} {% if form.visible_fields.2.field.required %}<span class="required"> *</span>{% endif %}</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {{ form.visible_fields.2 }}
                    {% if form.visible_fields.2.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.2.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.2.errors %}
                    {% for error in form.visible_fields.2.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {{ form.visible_fields.3 }}
                    {% if form.visible_fields.3.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.3.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.3.errors %}
                    {% for error in form.visible_fields.3.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            <!-- 3 SL -->
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{form.visible_fields.4.id_for_label}}">{{form.visible_fields.4.label}}{% if form.visible_fields.4.field.required %}<span class="required"> *</span>{% endif %}</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {{ form.visible_fields.4 }}
                    {% if form.visible_fields.4.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.4.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.4.errors %}
                    {% for error in form.visible_fields.4.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {{ form.visible_fields.5 }}
                    {% if form.visible_fields.5.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.5.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.5.errors %}
                    {% for error in form.visible_fields.5.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            <!-- 4 TP -->
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{form.visible_fields.6.id_for_label}}">{{form.visible_fields.6.label}}{% if form.visible_fields.6.field.required %}<span class="required"> *</span>{% endif %}</label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    {{ form.visible_fields.6 }}
                    {% if form.visible_fields.6.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.6.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.6.errors %}
                    {% for error in form.visible_fields.6.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    {{ form.visible_fields.7 }}
                    {% if form.visible_fields.7.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.7.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.7.errors %}
                    {% for error in form.visible_fields.7.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    {{ form.visible_fields.8 }}
                    {% if form.visible_fields.8.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.8.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.8.errors %}
                    {% for error in form.visible_fields.8.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            <!-- 5 Risk_Reward -->
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{form.visible_fields.9.id_for_label}}">{{form.visible_fields.9.label}}{% if form.visible_fields.9.field.required %}<span class="required"> *</span>{% endif %}</label>
                <div class="col-md-9 col-sm-10 col-xs-12">
                    {{ form.visible_fields.9 }}
                    {% if form.visible_fields.9.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.9.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.9.errors %}
                    {% for error in form.visible_fields.9.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            <!-- 6 Classic Analysis -->
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{form.visible_fields.10.id_for_label}}">{{form.visible_fields.10.label}}{% if form.visible_fields.10.field.required %}<span class="required"> *</span>{% endif %}</label>
                <div class="col-md-9 col-sm-10 col-xs-12">
                    {{ form.visible_fields.10 }}
                    {% if form.visible_fields.10.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.10.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.10.errors %}
                    {% for error in form.visible_fields.10.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            <!-- 7 PTA Analysis -->
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{form.visible_fields.11.id_for_label}}">{{form.visible_fields.11.label}}{% if form.visible_fields.11.field.required %}<span class="required"> *</span>{% endif %}</label>
                <div class="col-md-9 col-sm-10 col-xs-12">
                    {{ form.visible_fields.11 }}
                    {% if form.visible_fields.11.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.11.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.11.errors %}
                    {% for error in form.visible_fields.11.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>


            <!-- Signal datetime -->
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{form.signal_datetime.id_for_label}}">{{form.signal_datetime.label}}{% if form.signal_datetime.field.required %}<span class="required"> *</span>{% endif %}</label>
                <div class="col-md-9 col-sm-10 col-xs-12">
                    {{ form.signal_datetime }}
                    {% if form.signal_datetime.help_text %}
                    <small class="form-text text-muted">{{ form.signal_datetime.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.signal_datetime.errors %}
                    {% for error in form.signal_datetime.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>


            <!-- 8 Self entrance -->
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{form.visible_fields.12.id_for_label}}">{{form.visible_fields.12.label}}{% if form.visible_fields.12.field.required %}<span class="required"> *</span>{% endif %}</label>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    {{ form.visible_fields.12 }}
                    {% if form.visible_fields.12.help_text %}
                    <small class="form-text text-muted">{{ form.visible_fields.12.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.visible_fields.12.errors %}
                    {% for error in form.visible_fields.12.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            <!-- 9 Open now -->
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{form.open_now.id_for_label}}">{{form.open_now.label}}{% if form.open_now.field.required %}<span class="required"> *</span>{% endif %}</label>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    {{ form.open_now }}
                    {% if form.open_now.help_text %}
                    <small class="form-text text-muted">{{ form.open_now.help_text }}</small>
                    {% endif %}
                    {% if form.is_bound %}
                    {% if form.open_now.errors %}
                    {% for error in form.open_now.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>





            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    {% if form.errors %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">{% trans 'ثبت' %}</button>
                    <a href="{% url 'cfd_profile_signals_month_view' team_id %}" class="btn btn-default">
                        {% trans 'انصراف' %}
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function show_signal() {
        form_panel = document.getElementById("signal_form")
        mistakes_panel = document.getElementById("mistakes_list")
        form_panel.setAttribute("style", "opacity: 1")
        mistakes_panel.setAttribute("style", "display:none")
    }

    {% if not user_signals %}
        window.onload=show_signal();
    {% endif %}

    function setSignalType()
    {
        let entryField = document.getElementById("id_entry_point1");
        let profitField = document.getElementById("id_take_profit1");
        let entry = parseInt(entryField.value);
        let profit = parseInt(profitField.value);
        let type;
        if (profit > entry)
            type = 0;
        else
            type = 1;
        let checkboxId = `id_entry_type_${type}`;
        document.getElementById(checkboxId).checked = true;
    }
    let entryField = document.getElementById("id_entry_point1");
    let profitField = document.getElementById("id_take_profit1");
    entryField.onchange = () => {setSignalType()}
    profitField.onchange = () => {setSignalType()}

</script>
{%endblock page_content%}